name: mypy

on:
  pull_request:

jobs:
  types:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install deps
        run: uv sync

      - name: Run mypy
        run: uv run mypy --strict --disallow-untyped-defs --disallow-incomplete-defs src tests
